html{
	background-color: #333;
}
.button, input, h1, h2 {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.wrapper {
	background-color: #FFF;
	padding: 10px;
	border-radius: 5px;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
#korsWrapper table {
	background-color: #FFF;
}
ul {
	margin-top: 0px;
}
h3{
	margin-bottom: 0px;
}
.amne {
	color: #FFF;
}
/* Button style */
.button {
	background-position: center;
	transition: background 0.8s;
	border: none;
	border-radius: 2px;
	padding: 12px 18px;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
	color: white;
	background-color: #2196f3;
	box-shadow: 0 0 4px #999;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: inline-block;
	margin: 5px;
}
a.button{
	text-decoration: none;
}
.button:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.button:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}
.button svg {
	height: 15px;
	vertical-align: middle;
	margin-right: 5px;
}
input, button {
	font-size: large;
	box-sizing : border-box;
}
#nyanv input, .start input {
	margin: 5px;
}
.start input {
	display: block;
	width: 100%;
}
#korsWrapper table {
	text-align: center;
	border-collapse: collapse;
	margin: 0px auto;
}
#korsWrapper table td{
	width: 50px;
	height: 50px;
	border: solid 2px #000;
}
.hiddenBorder {
	border: solid 2px #FFF;
}
#korsWrapper {
	text-align: center;
}
#headinput {
	margin: 0px;
	padding: 0px;
}
#headinput input{
	width: 100%;
	height: 100%;
	box-sizing : border-box;
	font-size: large;
	text-align: center;
}
#korsWrapper td, .table div div {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
#offline {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
	font-weight: bold;
	display: none;
	padding: 10px 0px;
}
#loggaut{
	display: none;
}
#korsWrapper .button {
	margin-top: 10px;
}
.amne {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}
.table {
	display: table;
	width: 100%;
}
.table div {
	display: table-row;
}
.table div div {
	min-height: 85px;
	display: table-cell;
	padding: 30px;
	border: solid 2px #000;
	color: white;
	width: 20%;
	text-align: center;
	transition: background 0.8s;
	font-size: 16px;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.white {
	background-color: white;
	color: black;
}
.table div div:nth-child(1), .green {
	background-color: #008000;
	color: white;
}
.table div div:nth-child(1):hover {
  background: #003400 radial-gradient(circle, transparent 1%, #003400 1%) center/15000%;
}
.table div div:nth-child(1):active {
  background-color: #00cd00;
  background-size: 100%;
  transition: background 0s;
}
.table div div:nth-child(2), .lightgreen {
	background-color: #90ee90;
	color: black;
}
.table div div:nth-child(2):hover {
  background: #4ee44e radial-gradient(circle, transparent 1%, #4ee44e 1%) center/15000%;
}
.table div div:nth-child(2):active {
  background-color: #d2f8d2;
  background-size: 100%;
  transition: background 0s;
}
.table div div:nth-child(3), .yellow {
	background-color: #ffff00;
	color: black;
}
.table div div:nth-child(3):hover {
  background: #b3b300 radial-gradient(circle, transparent 1%, #b3b300 1%) center/15000%;
}
.table div div:nth-child(3):active {
  background-color: #ffff4d;
  background-size: 100%;
  transition: background 0s;
}
.table div div:nth-child(4), .orange {
	background-color: #ffa500;
	color: white;
}
.table div div:nth-child(4):hover {
  background: #b37400 radial-gradient(circle, transparent 1%, #b37400 1%) center/15000%;
}
.table div div:nth-child(4):active {
  background-color: #ffc04d;
  background-size: 100%;
  transition: background 0s;
}
.table div div:nth-child(5), .red{
	background-color: #ff0000;
	color: white;
}
.table div div:nth-child(5):hover {
  background: #b30000 radial-gradient(circle, transparent 1%, #b30000 1%) center/15000%;
}
.table div div:nth-child(5):active {
  background-color: #ff4d4d;
  background-size: 100%;
  transition: background 0s;
}
#korsWrapper td {
	webkit-transition: all 150ms linear;
	-moz-transition: all 150ms linear;
	-o-transition: all 150ms linear;
	-ms-transition: all 150ms linear;
	transition: all 150ms linear;
}
#install, #nyanv {
	display: none;
}
#nyanv {
	text-align: center;
}
.preview img {
	width: 100%;
}



html {
	height: 100%;
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	position: relative;
	margin: 0;
	padding:0px;
	padding-bottom: 3rem;
	min-height: 100%;
}
#footer{
	color: #FFF;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
	font-size: 10px;
}
#footer a, #footer a:hover{
	color: #FFF;
}