<!DOCTYPE html>
<html>
<head>
	<title>GrönaKorset</title>
	#head#
</head>
<body onload="loadStart();">
	<div id="start" class="wrapper">
		<h1>Välkommen till Gröna korset!</h1>
		<table>
			<tr class="preview">
				<td><img src="img/kors.png"></td>
				<td><img src="img/reg.png"></td>
			</tr>
		<table>
			<tr class="start">
				<td>
					<input type="text" id="avdid" placeholder="ID">
				</td>
				<td>
					<a class="button" href="javascript:loggaIn();">Logga in Översikt</a><br/>
					<a class="button" href="javascript:registrering();">Logga in Registrering</a>
				</td>
				<td>
					<a class="button" href="javascript:showHide('nyanv', 'start');sel('mail');">Lägg till ny avdelning</a>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<a class="button" href="javascript:showHide('install', 'start');">Installera Chrome Tillägg</a>
					<a class="button" href="javascript:oppnaFlera();">Se flera avdelingar</a>
				</td>
			</tr>
		</table>
		<p>När du klickar på "Lägg till ny avdelning" kommer du tilldelas ett unikt ID, som enbart är för dig och din avdelning. Detta ID sparas på servern för att kunna hänvisa till eran information. Skulle ni tappa bort ID kommer informationen inte att kunna återskapas. Vidare sparar servern i vart ID val av färg när registreringar genomförs, men inte vem som klickade eller när. Servern sparar slutligen specificerat ämne för var månad, för att ge mening till registreringarna.</p>
	</div>
	<div id="nyanv" class="wrapper">
		<h1>Ny avdelning</h1>
		<p>Om du önskar få ID på din mail, skriv den nedanför, annars är det bara att lämna den tom. Göm bara inte att spara det ID du tilldelas.</p>
		<input type="text" placeholder="Mail" id="mail"><br/>
		<a class="button" href="javascript:showHide('start', 'nyanv');sel('avdid');">Tillbaka</a><a class="button" href="javascript:nyID();">Lägg till ny avdelning</a>
	</div>
	<div id="install" class="wrapper">
		<h1>Installera Google Chrome Tillägg</h1>
		<p>
			<ol>
				<li>Ladda ner ".crx" filen. Högerklicka och välj "Spara länk som...".<br/><a href="extension.crx">extension.crx</a></li>
				<li>Öppna "chrome://extensions/" i ny flik.</li>
				<li>Aktivera Programmerarläge, uppe i högra hörnet.</li>
				<li>Dra in ".crx" filen till sidan.</li>
				<li>Klicka på "Lägg till tillägg".</li>
			</ol>
		</p>
		<a class="button" href="javascript:showHide('start', 'install');sel('avdid');">Tillbaka</a>
	</div>
	#footer#
</body>
</html>