<!DOCTYPE html>
<html>
<head>
	<title>GrönaKorset</title>
	<link rel="stylesheet" type="text/css" href="main/stil.css">
	<script type="application/javascript" src="main/script.js"></script>
</head>
<body onload="loadStart();">
	<div id="start">
		<h1>Välkommen till Gröna korset!</h1>
		<table>
			<tr class="start">
				<td>
					<input type="text" id="avdid">
				</td>
				<td>
					<input type="button" value="Logga in Översikt" onclick="loggaIn();">
					<input type="button" value="Logga in Registrering" onclick="registrering();">
				</td>
				<td>
					<input type="button" value="Lägg till ny avdelning" onclick="showHide('nyanv', 'start');">
				</td>
			</tr>
		</table>
		<p>När du klickar på "Lägg till ny avdelning" kommer du tilldelas ett unikt ID, som enbart är för dig och din avdelning. Detta ID sparas även på servern för att kunna hänvisa till er information, inget mer sparas för att kunna identifiera er. Det innebär att skulle ni tappa bort ID, kommer informationen inte att kunna återskapas. Vidare sparar servern i vart ID val av färg i Registrering, men inte vem som klickade eller när.</p>
	</div>
	<div id="nyanv">
		<p>Om du önskar få ID på din mail, skriv den nedanför.</p>
		<input type="text" placeholder="Mail" id="mail"><br/>
		<input type="button" value="Tillbaka" onclick="showHide('start', 'nyanv');"><input type="button" value="Lägg till ny avdelning" onclick="nyID();">
	</div>
</body>
</html>