<!DOCTYPE html>
<html>
<head>
	<title>GrönaKorset</title>
	#head#
</head>
<body onload="loadKors();">
	<div id="offline">Offline!</div>
	<div id="korsWrapper">
		#kors#
		<a class="button" href="/index.html">Tillbaka</a>
		<a class="button" id="loggaut" href="javascript:loggaUT();">Logga ut</a>
	</div>
	<script src="socket.io/socket.io.js"></script>
	<script type="text/javascript">
		var geturl = window.location.href.replace('http://', '').replace('https://', '').split('/')[0];
		//Lyssnar om server säger något
		var socket = io.connect(geturl);
		// Berättar för användare ifall koppling till server försvinner
		socket.on('online', function () {
			document.getElementById('offline').removeAttribute('style');
		});
		socket.on('disconnect', function () {
			document.getElementById('offline').setAttribute('style', 'display: block;');
			location.reload();
		});
		socket.on('err', function(data) {console.log('Error!')});
		socket.on('message', function (data) {console.log(data);});
		socket.on('registrerat', function (data) {
			if(getUrlParameter('id') == data.id){
				var datid = numToText(data.datum);
				var datIDElem = document.getElementsByClassName(datid)[0];
					datIDElem.setAttribute('class', datIDElem.getAttribute('class').split(' ')[0] + ' ' + data.color);
			};
		});
		function updateAmne(datum, elem){
			socket.emit('nyttamne', {'amne': elem.value, 'datum': datum, 'id': getUrlParameter('id')});
		};
		socket.on('uppdatera', function (num) {
			socket.emit('uppdatAmne', {'id': getUrlParameter('id'), 'num': num});
		});
		socket.on('uppdatAmne', function (data) {
			var amneinput = document.getElementById('headinput').getElementsByTagName('input')[0];
			var datum = amneinput.getAttribute('data-date');
			if(data.datum == datum){
				amneinput.value = data.amne;
			};
		});
		socket.on('reloadAll', function (data) {
			location.reload();
		});
	</script>
</body>
</html>