<!DOCTYPE html>
<html>
<head>
	<title>GrönaKorset</title>
	<style type="text/css">
		
	</style>
	<link rel="stylesheet" type="text/css" href="main/stil.css">
	<script type="application/javascript" src="main/script.js"></script>
</head>
<body onload="loadKors();">
	<div id="offline">Offline!</div>
	<div id="korsWrapper">
		#kors#
		<input type="button" onclick="tillbaka();" value="Tillbaka"/>
		<input type="button" id="loggaut" onclick="loggaUT();" value="Logga ut"/>
	</div>
	<script src="socket.io/socket.io.js"></script>
	<script type="text/javascript">
		var geturl = window.location.href.replace('http://', '').replace('https://', '').split('/')[0];
		//Lyssnar om server säger något
		var socket = io.connect(geturl);
		// Berättar för användare ifall koppling till server försvinner
		socket.on('online', function () {
			document.getElementById('offline').removeAttribute('style');
		});
		socket.on('disconnect', function () {
			document.getElementById('offline').setAttribute('style', 'display: block;');
		});
		socket.on('err', function(data) {console.log('Error!')});
		socket.on('message', function (data) {console.log(data);});
		socket.on('registrerat', function (data) {
			if(getUrlParameter('id') == data.id){
				var datid = numToText(data.datum);
				document.getElementsByClassName(datid)[0].setAttribute('style', 'background-color: ' + data.color);
			};
		});
		function updateAmne(datum, elem){
			socket.emit('nyttamne', {'amne': elem.value, 'datum': datum, 'id': getUrlParameter('id')});
		};
	</script>
</body>
</html>