<!DOCTYPE html>
<html>
<head>
	<title>GrönaKorset</title>
	#head#
</head>
<body>
	<div id="offline">Offline!</div>
	<div id="korsWrapper">
		#kors#
		<a class="button" href="javascript:tillbaka();">#svgone#0 0 448 512#svgtwo#M400 480H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48zM259.515 124.485l-123.03 123.03c-4.686 4.686-4.686 12.284 0 16.971l123.029 123.029c7.56 7.56 20.485 2.206 20.485-8.485V132.971c.001-10.691-12.925-16.045-20.484-8.486z#svgthree#Tillbaka</a>
	</div>
	<script src="socket.io/socket.io.js"></script>
	<script type="text/javascript">
		var geturl = window.location.href.replace('http://', '').replace('https://', '').split('/')[0];
		//Lyssnar om server säger något
		var socket = io.connect(geturl);
		// Berättar för användare ifall koppling till server försvinner
		socket.on('online', function () {
			connect();
		});
		socket.on('disconnect', function () {
			disconnect();
		});
		socket.on('err', function(data) {console.log('Error!')});
		socket.on('message', function (data) {console.log(data);});
		/*
		//Någon har uppdaterat en registrering på servern, klient skickar sitt ID för kontroll
		socket.on('checkreg', function (num) {
			socket.emit('sendreg', {"id": getUrlParameter('id'), "num": num});
		});
		//Uppdatering stämmer med ID, alltså får nu klient information.
		socket.on('registrerat', function (data) {
			if(getUrlParameter('id') == data.id){
				console.log('Det stämde!');
				var datid = numToText(data.datum);
				var datIDElem = document.getElementsByClassName(datid)[0];
					datIDElem.setAttribute('class', datIDElem.getAttribute('class').split(' ')[0] + ' ' + data.color);
			};
		});
		function updateAmne(datum, elem){
			socket.emit('nyttamne', {'amne': elem.value, 'datum': datum, 'id': getUrlParameter('id')});
		};
		//Någon har uppdaterat sitt ämne på servern. Klient tillfrågas om ID.
		socket.on('uppdatera', function (num) {
			socket.emit('uppdatAmne', {'id': getUrlParameter('id'), 'num': num});
		});
		//ID stämmer med ämne som uppdaterats, därför skickas info för att uppdatera.
		socket.on('uppdatAmne', function (data) {
			var amneinput = document.getElementById('headinput').getElementsByTagName('input')[0];
			var datum = amneinput.getAttribute('data-date');
			if(data.datum == datum){
				amneinput.value = data.amne;
			};
		});
		//Sida nollställs för att uppdateras till ny dag/månad.
		socket.on('reloadAll', function (data) {
			location.reload();
		});*/
	</script>
	#footer#
</body>
</html>