<!DOCTYPE html>
<html>
<head>
	<title>GrönaKorset Registrering</title>
	<link rel="stylesheet" type="text/css" href="main/stil.css">
	<script type="application/javascript" src="main/script.js"></script>
</head>
<body onload="loadReg();">
	<div id="offline">Offline!</div>
	<h1 class="amne">#amne#</h1>
	<div class="table">
		<div>
			<div onclick="reg('0')">Bra</div>
			<div onclick="reg('1')"></div>
			<div onclick="reg('2')"></div>
			<div onclick="reg('3')"></div>
			<div onclick="reg('4')">Dåligt</div>
		</div>
	</div>
	<input type="button" onclick="tillbaka();" value="Tillbaka"/>
	<input type="button" id="loggaut" onclick="loggaUT();" value="Logga ut"/>
	<script src="socket.io/socket.io.js"></script>
	<script type="text/javascript">
		var geturl = window.location.href.replace('http://', '').replace('https://', '').split('/')[0];
		//Lyssnar om server säger något
		var socket = io.connect(geturl);
		// Berättar för användare ifall koppling till server försvinner
		socket.on('online', function () {
			document.getElementById('offline').removeAttribute('style');
		});
		socket.on('disconnect', function () {
			document.getElementById('offline').setAttribute('style', 'display: block;');
		});
		socket.on('err', function(data) {console.log('Error!')});
		socket.on('message', function (data) {console.log(data);});
		function reg(num){
			var tosend = {'num': num, 'id': getUrlParameter('id')};
			socket.emit('sendreg', tosend);
		};
		socket.on('uppdatera', function (data) {
			console.log(data.id)
			if(data.id == 'all'){
				socket.emit('uppdatAmne', data);
			}else if(getUrlParameter('id') == data.id){
				socket.emit('uppdatAmne', data);
			};
		});
		socket.on('uppdatAmne', function (data) {
			console.log(data)
			var wrapper = document.getElementsByClassName('amne')[0];
			removechilds(wrapper);
				var text = document.createTextNode(data.amne);
				wrapper.appendChild(text);
		});
	</script>
</body>
</html>