<!DOCTYPE html>
<html>
<head>
	<title>GrönaKorset Registrering</title>
	#head#
	<style type="text/css">
		@media screen and (max-width: 400px), (min-width: 420px) and (max-width: 600px) {
			.table, .table div, .table div div {
				display: block;
				width: 100%;
			}
			.table div div {
				padding: 30px 0px;
			}
		}
	</style>
</head>
<body onload="loadReg();">
	<div id="offline">Offline!</div>
	<h1 class="amne">#amne#</h1>
	<div class="table">
		<div>
			<div onclick="reg('0')">Bra</div>
			<div onclick="reg('1')"></div>
			<div onclick="reg('2')"></div>
			<div onclick="reg('3')"></div>
			<div onclick="reg('4')">Dåligt</div>
		</div>
	</div>
	<a class="button" href="javascript:tillbaka();">Tillbaka</a>
	<script src="socket.io/socket.io.js"></script>
	<script type="text/javascript">
		var geturl = window.location.href.replace('http://', '').replace('https://', '').split('/')[0];
		//Lyssnar om server säger något
		var socket = io.connect(geturl);
		// Berättar för användare ifall koppling till server försvinner
		socket.on('online', function () {
			connect();
		});
		socket.on('disconnect', function () {
			disconnect();
		});
		socket.on('err', function(data) {console.log('Error!')});
		socket.on('message', function (data) {console.log(data);});
		function reg(num){
			var tosend = {'num': num, 'id': getUrlParameter('id')};
			socket.emit('checkreg', tosend);
		};
		socket.on('uppdatera', function (num) {
			socket.emit('uppdatAmne', {'id': getUrlParameter('id'), 'num': num});
		});
		socket.on('uppdatAmne', function (data) {
			if(data.datum == getDatum().manad){
				if(data.amne == ''){
					data.amne = '{Ämne är inte vald}';
				};
				var wrapper = document.getElementsByClassName('amne')[0];
				removechilds(wrapper);
					var text = document.createTextNode(data.amne);
					wrapper.appendChild(text);
				};
		});
		socket.on('reloadAll', function (data) {
			location.reload();
		});
	</script>
</body>
</html>